.sidebar-wrapper {
  background-color: #31095f;
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .sidebar-content {
    margin-top: 90px;
    .logo-container {
      .logo {
        width: 50px;
      }
      .logoType {
        width: 280px;
      }
    }

    .sidebar-nav {
      p {
        color: #fff;
        background-color: #27074b;
        padding: 10px 0px;
        text-align: left;
        padding-left: 40px;
        font-size: 36px;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li,
        a {
          text-decoration: none;
          color: #fff;
          margin: 20px 0px;
          font-size: 22px;
          text-align: left;
          padding: 10px 0px 10px 20px;
          transition: ease all 0.4s;

          &:hover {
            background-color: #27074b;
          }

          .active {
            color: #e3d4b1;
            font-size: 28px;
          }
        }
      }
    }
  }
}
